/*--------------------------General Stuff---------------------------*/

hr {
  margin: 0px;
}

body {
  font-family: Arial;
  color: #141e46;
  margin: 0px;
  padding-bottom: 3000px;
}

h1 {
  font-size: 5rem; 
  margin: 0px;
}

p {
  color: #FF6969;
  font-size: 2rem;
  margin: 0px;
}

/*--------------------------Header---------------------------*/

.header {
  display: flex;
  background-color: #141e46;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 5rem;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  box-shadow: 0px 6px 15px rgba(12, 12, 12, 0.311);
}


/*--------------------------1st Group---------------------------*/

.div1 {
  position: relative;
  background-color: #fff5e0;
  padding-top: 200px;
  text-align: center;
  top: 0px;
  padding-bottom: 150px;
  border-radius: 0px 0px 50px 50px;
}

.top-cloud {
  position: absolute;
  width: 20%;
  right: 40px;
  top: 300px
}

.bottom-cloud {
  position: absolute;
  display: inline-block;
  width: 20%;
  left: 8%;
}

.sky-image {
  margin-top: 20px;
  width: 100%;

}

/*--------------------------2nd Group---------------------------*/

.div2 {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  text-align: center;
  margin-top: 50px;
  padding-top: 150px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.profile {
  position: absolute;
  top: -140px;
  left: 50%;
  margin-left: -7.5rem;
  width: 15rem;
  border: solid;
  border-radius: 50%;
  border-width: 10px;
  border-color: white;
}

.me-text {
  color: #141e46;
}

/*--------------------------2nd Group---------------------------*/

.client {
  
}

.div3 {
  display: flex;
  flex-direction: column;
  background-color: #fff5e0;
  border-radius: 50px;
  padding: 0px 20px 20px;
  align-items: center;
  justify-content: center;
}

.div3-1 {
  display: flex;
  background-color: ;
  width: 100%;
  height: 15rem;
  margin-bottom: 10px;
  justify-content: space-around;
  align-items: center;
}

.div3-2 {
  display: flex;
  background-color: ;
  width: 100%;
  height: 15rem;
  justify-content: space-around;
}

.div-clients {
  display: flex;
  background-color: white;
  height: 14rem;
  width: 25rem;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 0px 7px rgba(137, 137, 137, 0.64);
}

.client-image {
  width: 6.25rem;
  filter: grayscale(100%);
  transition: width 0.5s;
}

.client-image:hover {
  width: 7.5rem; 
  filter: grayscale(0%);
}