/*--------------------------General Stuff---------------------------*/
html {
  scroll-behavior: smooth;
}

hr {
  margin: 0px;
}

body {
  background-color: white;
  font-family: Arial;
  color: #141e46;
  margin: 0px;
}

h1 {
  font-size: 5rem; 
  margin: 0px;
}

p {
  color: #ff6969;
  font-size: 2rem;
  margin: 0px;
}

/*--------------------------Header---------------------------*/

.header {
  display: flex;
  background-color: #fff5e0;
}

.menu {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 20px 0px 20px;
  border-color: silver;
  border: solid;
  border-radius: 30px;
  border-width: 2px;
  box-shadow: 0px 0px 7px rgba(30, 30, 30, 0.411);

}

.link {
  color: #ff6969;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  transition: font-size 0.5s;
}

.link:hover {
  font-size: 1.2rem;
}


/*--------------------------1st Group---------------------------*/

.div1 {
  position: relative;
  background-color: #fff5e0;
  padding-top: 200px;
  text-align: center;
  top: 0px;
  padding-bottom: 50px;
  border-radius: 0px 0px 50px 50px;
}

.sky-image {
  margin-top: 20px;
  width: 50%;

}

/*--------------------------2nd Group---------------------------*/

.div2 {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  text-align: center;
  margin-top: 50px;
  padding-top: 150px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 150px 0px 100px;
}


#profile {
  position: absolute;
  top: -140px;
  left: 50%;
  margin-left: -7.5rem;
  width: 15rem;
  border: solid;
  border-radius: 50%;
  border-width: 10px;
  border-color: white;
}

.me-text {
  color: #141e46;
}


/*--------------------------2nd Group---------------------------*/

.div3 {
  display: flex;
  flex-direction: column;
  background-color: #fff5e0;
  border-radius: 50px;
  padding: 50px 20px 50px;
  align-items: center;
  justify-content: center;
}

.div3-1 {
  display: flex;
  background-color: ;
  width: 100%;
  height: 15rem;
  margin-bottom: 10px;
  justify-content: space-around;
  align-items: center;
}

.div3-2 {
  display: flex;
  background-color: ;
  width: 100%;
  height: 15rem;
  justify-content: space-around;
}

.div-clients {
  display: flex;
  background-color: white;
  height: 14rem;
  width: 25rem;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 0px 7px rgba(137, 137, 137, 0.64);
}

.client-image {
  width: 6.25rem;
  filter: grayscale(100%);
  transition: width 0.5s;
}

.client-image:hover {
  width: 7.5rem; 
  filter: grayscale(0%);
}

/*--------------------------Contact me Section---------------------------*/

.div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px 0px 100px;
}

#getintouch {
  margin-top: 20px;
}

.thankyou {
  color: #141e46;
  max-width: 45.6rem;
  font-size: 1.5rem;
  margin: 20px;
}

.pleasefeel {
  max-width: 65rem;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.contactme {
  background-color: #ff6969;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: larger;
  padding: 20px 2rem 20px;
  transition: box-shadow 1s background-color 1.5s color 1.5s;
}

.contactme:hover {
  box-shadow: 0px 0px 10px rgba(76, 76, 76, 0.416);
}

.contactme:active {
  background-color: #141e46;
  color: #ff6969;
}

/*--------------------------Footer---------------------------*/

.footer {
  background-color: #141e46;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 16rem;
  padding: 50px 10% 50px;
}

.footer1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.location-icon {
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid;
  border-width: 6px;
  border-radius: 50%;
  border-color: white;
  margin-right: 20px;
}

.footer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;

}

.aboutme {
  font-size: 1rem;
  color: white;
}

.socials {
  background-color: white;
  border-color: white;
  width: 30px;
  height: 30px;
  border: solid;
  border-width: 10px;
  border-radius: 10px;
  margin-right: 20px;
}